	<i class="icon ion-navicon-round lgicon floatleft pullright shownavbtn"></i>
	<i class="icon ion-close lgicon floatleft pullright hidenavbtn hidden"></i>
	<h1 class="floatleft flexelement">urbanoid</h1>
	<div class="clear"></div>


<script>
	$(window).ready(function() {
		$(".shownavbtn").on("click", function(ev) {
			//Add Animations
			$("#nav").addClass("movenav");
			$(".topbar").addClass("movecontent");
			$("#contentwrapper").addClass("movecontent");
			//Remove Animations
			$("#nav").removeClass("movenavback");
			$(".topbar").removeClass("movecontentback");
			$("#contentwrapper").removeClass("movecontentback");
			//Change Positions
			$("#nav").removeClass("pullleft300");
			$(".topbar").addClass("pushleft300");
			$("#contentwrapper").addClass("pushleft300");
			//Toggle Buttons
			$(".shownavbtn").addClass("hidden");
			$(".hidenavbtn").removeClass("hidden");
		});
		$(".hidenavbtn").on("click", function(ev) {
			//Add Animations
			$("#nav").addClass("movenavback");
			$(".topbar").addClass("movecontentback");
			$("#contentwrapper").addClass("movecontentback");
			//Remove Animations
			$("#nav").removeClass("movenav");
			$(".topbar").removeClass("movecontent");
			$("#contentwrapper").removeClass("movecontent");
			//Change Positions
			$("#nav").addClass("pullleft300");
			$(".topbar").removeClass("pushleft300");
			$("#contentwrapper").removeClass("pushleft300");
			//Toggle Buttons
			$(".hidenavbtn").addClass("hidden");
			$(".shownavbtn").removeClass("hidden");
		});
	});
</script>