<!-- CHANNEL-HEADER -->
<div class="intro" style="background:url(../{{channel.image}}) no-repeat center top; background-size: cover;">
    <h2>{{channel.name}}</h2>
    <div class="widget introelements">
	    <p>{{channel.description}}</p>
	    <div class="introcontrols">
	        <button ng-hide="channel.subscribed" class="btn roundcorners whiteborder medopacity link" ng-click="subscribe()">Abonnieren</button>
	        <button ng-show="channel.subscribed" class="btn roundcorners whiteborder medopacity link" ng-click="unsubscribe()">Nicht mehr abonnieren</button>
			<button class="btn btnimage watchers pullright whitetext medopacity link">{{channel.amountOfUsers}}</button>
			<div class="clear"></div>
	    </div>
	</div>
</div>

<!-- EINGABEFELD -->
<div sticky offset="0" stick-class="stick" placeholder-class="placeholder" ref-element="mainview" class="postmessage">
    <div class="inputgroup">
        <textarea autoresize hidden-class="hiddendiv" id="postmessage" class="roundcornersleft" rows="1" placeholder="Was m&ouml;chtest du schreiben?" ng-model="message"></textarea>
        <button class="sendbutton" ng-click="post()"><i class="icon ion-ios7-paperplane roundcornersright"></i></button>
	</div>
</div>

<!-- CHANNEL-BEITRÄGE -->
<div class="widgets">

    <!-- CARD BEGIN -->
    <div class="card bgcolor roundcorners" ng-repeat="msg in msgs">
        <div class="cardcontent">{{msg.text}}</div>
        <div class="cardfooter">
            <a href="#/user/{{msg.author.id}}">
                <img src="{{msg.author.icon | icon}}" alt="icon of {{msg.author.login}}" class="circular floatleft">
            </a>
            <p>
                <strong>{{msg.author | username}}</strong><br />
                <span class="greyed small">{{msg.timestamp | rel_timestamp}}</span>
            </p>
        </div>
    </div>
    <!-- CARD END -->
</div>

</body>
</html>
