<input type="text" throttled-update ng-model="user.login" update-class="updating" error-class="faulty" update-handler="update"/><br />
<input type="text" throttled-update ng-model="user.name" /><br />
<img src="{{user.icon}}" alt="icon of {{user.login}}"><br />
<input type="text" throttled-update ng-model="user.description" /><br />
<input type="text" throttled-update ng-model="user.email" /><br />
<span confirmed-update ng-model="user.password">
    <input type="password" ng-class="{ updating : updating, confirmation : confirmation, faulty : error }" ng-model="user.password" />
    <span ng-show="confirmation">
        <button ng-click="confirm()">OK</button>
        <button ng-click="abort()">CANCEL</button>
    </span>
</span>
<br />
<img-input ng-model="foo" ></img-input>
<h1>{{foo}}</h1>

