<input type="text" throttled-update ng-model="user.login" update-class="updating" error-class="faulty" update-handler="update"/><br />
<input type="text" throttled-update ng-model="user.name" /><br />
<img src="{{user.icon}}" alt="icon of {{user.login}}"><br />
<input type="text" throttled-update ng-model="user.description" /><br />
<input type="text" throttled-update ng-model="user.email" /><br />
<input type="password" throttled-update ng-model="user.password" />
<span ng-show="confirmation.password"><button ng-click="confirm('password')">OK</button><button ng-click="abort('password')">CANCEL</button></span>
<br />

