	<i ng-show="user" class="icon ion-navicon-round lgicon floatleft pullright shownavbtn "></i>
	<i class="icon ion-close lgicon floatleft pullright hidenavbtn hidden"></i>
	<h1 class="floatleft flexelement">urbanoid</h1>
    <span ng-show="user" ng-controller="notifications-controller">[{{notifications.length}}]</span>
	<button ng-show="user" ng-click="logout()">RAUS!</button>
	<div class="clear"></div>

<!-- variablen im scope: 

user
user.id
user.login
user.name
user.description
user.icon 

notifications
notifications.length

analog zu Nachrichten in channel.html mit ng-repeat="notification in notifications"
gibt es dann pro notification diese variablen:

notification.type (derzeit nur "added-to-channel")
notification.timestamp

für "added-to-channel"-notifications
notification.channel (analog zu channel in channel.js)
notification.user (analog zu user in contact-overview.js)

-->
<script>
	$(window).ready(function() {
		$(".shownavbtn").on("click", function(ev) {
			//Add Animations
			$("#nav").addClass("movenav");
			$(".topbar").addClass("movecontent");
			$("#contentwrapper").addClass("movecontent");
			//Remove Animations
			$("#nav").removeClass("movenavback");
			$(".topbar").removeClass("movecontentback");
			$("#contentwrapper").removeClass("movecontentback");
			//Change Positions
			$("#nav").removeClass("pullleft300");
			$(".topbar").addClass("pushleft300");
			$("#contentwrapper").addClass("pushleft300");
			//Toggle Buttons
			$(".shownavbtn").addClass("hidden");
			$(".hidenavbtn").removeClass("hidden");
		});
		$(".hidenavbtn").on("click", function(ev) {
			//Add Animations
			$("#nav").addClass("movenavback");
			$(".topbar").addClass("movecontentback");
			$("#contentwrapper").addClass("movecontentback");
			//Remove Animations
			$("#nav").removeClass("movenav");
			$(".topbar").removeClass("movecontent");
			$("#contentwrapper").removeClass("movecontent");
			//Change Positions
			$("#nav").addClass("pullleft300");
			$(".topbar").removeClass("pushleft300");
			$("#contentwrapper").removeClass("pushleft300");
			//Toggle Buttons
			$(".hidenavbtn").addClass("hidden");
			$(".shownavbtn").removeClass("hidden");
		});
	});
</script>
