  <!-- ========= APP-BODY ========= -->

      <div class="container-fluid nopadding">
        <div class="scrollable-content">

          <ul class="list-group pushbottom chatcontent">
            <li class="list-group-item" ng-repeat="msg in msgs">
              <img src="{{msg.author.icon}}-icon" class="pull-left marginright img-circle" alt="Icon of {{msg.author.login}}">
              <p class="list-group-item-text greytext"><small>{{msg.author | username}}, {{msg.timestamp | rel_timestamp }}</small></p>
              <p class="list-group-item-text">{{msg.text}}</p>
            </li>
          </ul>
        </div>
        <div class="row pushbottom chatinput lightBar">
          <form name="post-form" novalidate>
            <div class="input-group">
              <input type="text" class="form-control" ng-model="message">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="post(message)"><i class="fa fa-send"></i></button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>

