<!DOCTYPE html>
<head>
	<title>urban communication network</title>

	<!-- CUSTOM-CSS -->
    <link rel="stylesheet" href="css/sheet.css" type="text/css" />
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css" type="text/css" />
</head>

<body>
	<div class="wrapper all">

		<!-- TOPBAR -->
		<div class="wrapper topbar bgcolor">
			<h1 class="floatleft">urbanoid</h1>
			<i class="icon ion-navicon lgicon floatleft pullright"></i>
			<div class="clear"></div>
		</div>

		<!-- ALLES-WRAPPER -->
		<div class="wrapper content">

			<!-- CHANNEL-HEADER -->
			<div class="intro">
				<h2>Grillen in K&ouml;lle</h2>
				<div class="widget introelements">
					<p>Wir wollen ab und zu mal bei uns im sch&ouml;nen K&ouml;lle grillen und chillen. Am liebstem im Gr&uuml;ng&uuml;rtel.</p>
					<div class="introcontrols">
						<button class="btn roundcorners whiteborder medopacity link">Abonnieren</button>
						<button class="btn btnimage watchers pullright whitetext medopacity link">18</button>
						<div class="clear"></div>
					</div>
				</div>
			</div>

			<!-- EINGABEFELD -->
			<div id="sticky-anchor"></div>

			<div class="placeholder"></div>

			<div class="postmessage hidden">
				<div class="inputgroup">
					<div class="hiddendiv">placeholder</div>
					<button class="sendbutton"><i class="icon ion-ios7-paperplane roundcornersright"></i></button>
				</div>
			</div>

			<div class="postmessage sticky">
				<div class="inputgroup">
					<textarea id="postmessage" class="roundcornersleft" rows="1" placeholder="Was m&ouml;chtest du schreiben?"></textarea>
					<button class="sendbutton"><i class="icon ion-ios7-paperplane roundcornersright"></i></button>
				</div>
			</div>

			<!-- CHANNEL-BEITRÄGE -->
			<div class="widgets">

				<!-- CARD BEGIN -->
				<div class="card bgcolor roundcorners">
					<div class="cardcontent">
						Hey Leute! Das ist ja wirklich eine total krasse Seite hier! Echt neat. Hier komme ich nun immer und immer wieder hin!
					</div>
					<div class="cardfooter">
						<img src="img/fjs.jpg" alt "Franz-Joseph" class="circular floatleft">
						<p>
							<strong>Franz Joseph Strauss</strong><br />
							<span class="greyed small">vor 32 Jahren</span>
						</p>
					</div>
				</div>
				<div class="card bgcolor roundcorners">
					<div class="cardcontent">
						Hey Leute! Das ist ja wirklich eine total krasse Seite hier! Echt neat. Hier komme ich nun immer und immer wieder hin!
					</div>
					<div class="cardfooter">
						<img src="img/fjs.jpg" alt "Franz-Joseph" class="circular floatleft">
						<p>
							<strong>Franz Joseph Strauss</strong><br />
							<span class="greyed small">vor 32 Jahren</span>
						</p>
					</div>
				</div>
				<div class="card bgcolor roundcorners">
					<div class="cardcontent">
						Hey Leute! Das ist ja wirklich eine total krasse Seite hier! Echt neat. Hier komme ich nun immer und immer wieder hin!
					</div>
					<div class="cardfooter">
						<img src="img/fjs.jpg" alt "Franz-Joseph" class="circular floatleft">
						<p>
							<strong>Franz Joseph Strauss</strong><br />
							<span class="greyed small">vor 32 Jahren</span>
						</p>
					</div>
				</div>
				<div class="card bgcolor roundcorners">
					<div class="cardcontent">
						Hey Leute! Das ist ja wirklich eine total krasse Seite hier! Echt neat. Hier komme ich nun immer und immer wieder hin!
					</div>
					<div class="cardfooter">
						<img src="img/fjs.jpg" alt "Franz-Joseph" class="circular floatleft">
						<p>
							<strong>Franz Joseph Strauss</strong><br />
							<span class="greyed small">vor 32 Jahren</span>
						</p>
					</div>
				</div>
				<div class="card bgcolor roundcorners">
					<div class="cardcontent">
						Hey Leute! Das ist ja wirklich eine total krasse Seite hier! Echt neat. Hier komme ich nun immer und immer wieder hin!
					</div>
					<div class="cardfooter">
						<img src="img/fjs.jpg" alt "Franz-Joseph" class="circular floatleft">
						<p>
							<strong>Franz Joseph Strauss</strong><br />
							<span class="greyed small">vor 32 Jahren</span>
						</p>
					</div>
				</div>
				<div class="card bgcolor roundcorners">
					<div class="cardcontent">
						Hey Leute! Das ist ja wirklich eine total krasse Seite hier! Echt neat. Hier komme ich nun immer und immer wieder hin!
					</div>
					<div class="cardfooter">
						<img src="img/fjs.jpg" alt "Franz-Joseph" class="circular floatleft">
						<p>
							<strong>Franz Joseph Strauss</strong><br />
							<span class="greyed small">vor 32 Jahren</span>
						</p>
					</div>
				</div>
				<div class="card bgcolor roundcorners">
					<div class="cardcontent">
						Hey Leute! Das ist ja wirklich eine total krasse Seite hier! Echt neat. Hier komme ich nun immer und immer wieder hin!
					</div>
					<div class="cardfooter">
						<img src="img/fjs.jpg" alt "Franz-Joseph" class="circular floatleft">
						<p>
							<strong>Franz Joseph Strauss</strong><br />
							<span class="greyed small">vor 32 Jahren</span>
						</p>
					</div>
				</div>
				<div class="card bgcolor roundcorners">
					<div class="cardcontent">
						Hey Leute! Das ist ja wirklich eine total krasse Seite hier! Echt neat. Hier komme ich nun immer und immer wieder hin!
					</div>
					<div class="cardfooter">
						<img src="img/fjs.jpg" alt "Franz-Joseph" class="circular floatleft">
						<p>
							<strong>Franz Joseph Strauss</strong><br />
							<span class="greyed small">vor 32 Jahren</span>
						</p>
					</div>
				</div>
				<div class="card bgcolor roundcorners">
					<div class="cardcontent">
						Hey Leute! Das ist ja wirklich eine total krasse Seite hier! Echt neat. Hier komme ich nun immer und immer wieder hin!
					</div>
					<div class="cardfooter">
						<img src="img/fjs.jpg" alt "Franz-Joseph" class="circular floatleft">
						<p>
							<strong>Franz Joseph Strauss</strong><br />
							<span class="greyed small">vor 32 Jahren</span>
						</p>
					</div>
				</div>
				<div class="card bgcolor roundcorners">
					<div class="cardcontent">
						Hey Leute! Das ist ja wirklich eine total krasse Seite hier! Echt neat. Hier komme ich nun immer und immer wieder hin!
					</div>
					<div class="cardfooter">
						<img src="img/fjs.jpg" alt "Franz-Joseph" class="circular floatleft">
						<p>
							<strong>Franz Joseph Strauss</strong><br />
							<span class="greyed small">vor 32 Jahren</span>
						</p>
					</div>
				</div>
				<div class="card bgcolor roundcorners">
					<div class="cardcontent">
						Hey Leute! Das ist ja wirklich eine total krasse Seite hier! Echt neat. Hier komme ich nun immer und immer wieder hin!
					</div>
					<div class="cardfooter">
						<img src="img/fjs.jpg" alt "Franz-Joseph" class="circular floatleft">
						<p>
							<strong>Franz Joseph Strauss</strong><br />
							<span class="greyed small">vor 32 Jahren</span>
						</p>
					</div>
				</div>
				<div class="card bgcolor roundcorners">
					<div class="cardcontent">
						Hey Leute! Das ist ja wirklich eine total krasse Seite hier! Echt neat. Hier komme ich nun immer und immer wieder hin!
					</div>
					<div class="cardfooter">
						<img src="img/fjs.jpg" alt "Franz-Joseph" class="circular floatleft">
						<p>
							<strong>Franz Joseph Strauss</strong><br />
							<span class="greyed small">vor 32 Jahren</span>
						</p>
					</div>
				</div>
				<!-- CARD END -->



			</div>
    	</div>
	</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

<script>

//TEXTAREA-RESIZE

$(function() {
    var txt = $('#postmessage'),
        //hiddenDiv = $(document.createElement('div')),
        hiddenDiv = $('.hiddendiv');
        content = null;
    txt.on('keyup', function () {
        content = $(this).val();
        content = content.replace(/\n/g, '');
        if (content.length === 0) {
        	content = "placeholder";
        }
        hiddenDiv.html(content + '');
        $(this).css('height', hiddenDiv.height());
    });
});

// STICKY

function sticky_relocate() {
  var window_top = $(window).scrollTop()+44;
  var div_top = $('#sticky-anchor').offset().top;
  if (window_top > div_top) {
    $('.sticky').addClass('stick');
    $('.placeholder').css('display','block');
  } else {
    $('.sticky').removeClass('stick');
    $('.placeholder').css('display','none');
  }
}

$(function() {
  $(window).scroll(sticky_relocate);
  sticky_relocate();
});
</script>

</body>
</html>