<!DOCTYPE html>
<head>
	<title>urban communication network</title>

		<meta name="viewport" content="width=320,initial-scale=3">

	<!-- CUSTOM-CSS -->
    <link rel="stylesheet" href="css/sheet.css" type="text/css"/>
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css" type="text/css" />
</head>

<body>
	<div class="wrapper all">

		<!-- TOPBAR -->
		<div class="wrapper topbar bgcolor">
			<h1 class="floatleft">urbanoid</h1>
			<i class="icon ion-navicon lgicon floatleft pullright"></i>
			<div class="clear"></div>
		</div>

		<!-- ALLES-WRAPPER -->
		<div class="wrapper content">

			<!-- CHANNEL-HEADER -->
			<div class="chatintro">
				<h2>Peter Peterssen</h2>
			</div>

			<!-- EINGABEFELD -->

			<!-- CHANNEL-BEITRÄGE -->
			<div class="chatlistwrapper bgcolor">
			<div class="postmessage pullbottom">
				<div class="inputgroup">
					<textarea id="postmessage" class="roundcornersleft" rows="1" placeholder="Was m&ouml;chtest du schreiben?"></textarea>
					<button class="sendbutton"><i class="icon ion-ios7-paperplane roundcornersright"></i></button>
				</div>
			</div>
			<ul class="chatlist">
				<!-- ENTRY BEGIN -->
				<li class="chatentry">
					<div class="chatimage floatleft"><img src="img/fjs.jpg" alt "Franz-Joseph" class="circular"></div>
					<div class="chatcontent floatleft"><p>
						<strong>Franz Joseph Strauss</strong>
						<span class="greyed small">vor 32 Jahren</span><br />
						Hey Leute! Das ist ja wirklich eine total krasse Seite hier! Echt neat. Hier komme ich nun immer und immer wieder hin!</p></div>
					<div class="clear"></div>
				</li>
				<!-- ENTRY / -->

				<li class="chatentry">
					<div class="chatimage floatleft"><img src="img/fjs.jpg" alt "Franz-Joseph" class="circular"></div>
					<div class="chatcontent floatleft"><p>
						<strong>Franz Joseph Strauss</strong>
						<span class="greyed small">vor 32 Jahren</span><br />
						Hey Leute! Das ist ja wirklich eine total krasse Seite hier! Echt neat. Hier komme ich nun immer und immer wieder hin!</p></div>
					<div class="clear"></div>
				</li>
			</ul>
			</div>
				<!-- CARD END -->
				<!--
						<p>
							<strong>Franz Joseph Strauss</strong><br />
							<span class="greyed small">vor 32 Jahren</span>
						</p>
				-->


			</div>
    	</div>
	</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

<script>

//TEXTAREA-RESIZE

$(function() {
    var txt = $('#postmessage'),
        //hiddenDiv = $(document.createElement('div')),
        hiddenDiv = $('.hiddendiv');
        content = null;
    txt.on('keyup', function () {
        content = $(this).val();
        content = content.replace(/\n/g, '');
        if (content.length === 0) {
        	content = "placeholder";
        }
        hiddenDiv.html(content + '');
        $(this).css('height', hiddenDiv.height());
    });
});

// STICKY

function sticky_relocate() {
  var window_top = $(window).scrollTop()+44;
  var div_top = $('#sticky-anchor').offset().top;
  if (window_top > div_top) {
    $('.sticky').addClass('stick');
    $('.placeholder').css('display','block');
  } else {
    $('.sticky').removeClass('stick');
    $('.placeholder').css('display','none');
  }
}

$(function() {
  $(window).scroll(sticky_relocate);
  sticky_relocate();
});
</script>

</body>
</html>