<div class="list-group" ng-show="contacts" ng-repeat="contact in contacts"> 
    <a href="#/profile/{{contact.user.id}}">
        <img src="{{contact.icon | icon}}" class="pull-left marginright img-circle" alt="Icon of user {{contact.name}}">
    </a>
    <a href="#/chat/{{contact.channel.id}}">
        <h4 class="list-group-item-text">{{contact.name}}</h4>
        <p class="list-group-item-text greytext" ng-show="contact.channel.lastMsg">
            {{contact.channel.lastMsg.timestamp | rel_timestamp}} - {{contact.channel.lastMsg.text
        </p>
    </a>
</div>
