<input type="text" ng-model="user.login" /><br />
<input type="text" ng-class="{updating : updating.name, faulty: error.name}" ng-model="user.name" /><br />
<img src="{{user.icon}}" alt="icon of {{user.login}}"><br />
<input type="text" ng-class="{updating : updating.description, faulty: error.description}" ng-model="user.description" /><br />
<input type="text" ng-class="{updating : updating.email, faulty: error.email}" ng-model="user.email" /><br />
<!--<input type="password" ng-model="user.password" /><br />-->

